[2021-04-09 19:46] mkutmon opened #1 "GPML2MD for Jekyll"

[2021-04-09 19:47] mkutmon opened #2 "REST API layer before RDF"

[2021-04-09 19:52] mkutmon opened #3 "Reach out to github and other people"

[2021-04-09 19:57] mkutmon opened #4 "Plan an upgrade meeting with Egon, Anders, Tina, Alex"
May 7th-ish?

[2021-04-09 21:25] AlexanderPico opened #5 "Demo GitHub Pages site"
Built from GPML2MD content and maybe using the toolforge widget or SVG images directly.

This would be a very simple, read-only view of the content.

Could it replace the need to maintain a Mediawiki instance?

[2021-04-09 21:30] AlexanderPico opened #6 "Demo and document how to curate via PRs"
Scenarios:
1. (user) Edit an existing GPML via PR
2. (user) Submit a new GPML via PR
3. (curator) Tag the PR, review diff, verify/assign WPID, accept/reject PR.

If we identify all the steps we'd like, then we could look into developing automatic solutions to make them easier, e.g., GitHub Actions to tag PRs and verify/assign WPIDs.

[2021-04-09 21:38] AlexanderPico opened #7 "Demo how Forks and PRs are going to work"
PRs could be made against a `draft` branch. A mostly automated curation process could accept PRs into this branch, where they can be later curated by the admin team and merged into the `release` branch later.

Or new edits could be PRs against a `draft` repo. The repo could have it's own GitHub Pages site so they could be previewed and assessed in a more mature form (i.e., in images and other conv

[2021-04-09 21:44] AlexanderPico opened #8 "Demo GitHub Actions"
It would be helpful to have a few simple demos of what we can do with GitHub Actions.

1. A PR triggering the addition of a label and assignee.
2. A PR triggering a basic assessment of whether the GPML is an update to an existing pathway or a new one.
3. A merge triggering GPML2MD, GPML2SVG and other conversions.
4. Generating summary stats on a monthly basis (see Kristina for current stat methods

[2021-05-07 18:42] AlexanderPico opened #9 "Site Search"
Strongly consider Google SEO and controling the indexable keywords/metadata:

https://github.com/jekyll/jekyll-seo-tag

[2021-05-07 19:03] AlexanderPico opened #10 "Demo using flat file lists to manage collections"
For example:
 * species
 * portals
 * select curation tags

Note: under construction might best be handled with branches

[2021-05-07 19:10] mkutmon opened #11 "Explore Java API to Github for PathVisio plugin"
Check: https://www.twilio.com/blog/improve-workflow-github-api-java

[2021-06-29 20:07] #4 closed

[2021-07-05 22:18] AlexanderPico opened #12 "Add other organisms to toolforge pathway viewer"
Currently, only human pathways can be viewed. We should add all "approved" pathways as the next milestone.

Then we should trigger daily builds (if changed).

Then we should trigger on changes via GitHub curation process.

[2021-07-19 19:03] AlexanderPico opened #13 "How to handle authors?"
We have a deep history of author usernames, real names and emails from WP. Going forward to have GitHub users.

How to connect authors with GitHub accounts? How to write history?

[2021-08-05 20:30] AlexanderPico opened #14 "Brainstorm on Browse"
Do we want a table?

Do we want a grid of thumbnails?

What filters and sorting options do we want?

What's acheivable using Jekyll?

[2021-09-17 18:34] AlexanderPico opened #15 "Extract author info from mysql"
include:

- number of edits
- orcid
- email
- real name
- username

[2021-09-17 18:50] AlexanderPico opened #16 ""new" label on pathway pages"
Our website will be more up-to-date than the monthly released data and web service content (via RDF). So, it would be nice to have a "new" label on pages that have been updated since the last monthly release to let users know.

[2021-09-17 19:07] AlexanderPico commented on #9
Add thumbnails for search results: https://support.google.com/programmable-search/answer/2633150?hl=en&ctx=topic&topic=2568817

[2021-09-17 19:22] AlexanderPico opened #17 "Communities"
How will communities manage their web page portals?

- Ultimately, it's editing an md file
- Make a Google Form to the content used in the md file (e.g. [CPTAC](https://raw.githubusercontent.com/wikipathways/wikipathways.github.io/main/_communities/cptac.md))?

How to manage community tags on pathway?

 - Ultimately, it's editing a list file in the WikiPathways-Database (GPML-Repo)
 - Make PR?

[2021-09-17 19:26] AlexanderPico commented on #8
See new wikipathways-playground repo

[2021-09-17 19:52] AlexanderPico commented on #14
Now is great time to brainstorm on how the browse page should look and work for the new site.  Feel free to use Google Slides ([here](https://docs.google.com/presentation/d/1YfnKLf0YbNToLho9l_mLpKC8iYDBPY-Gv7o0vjDxisI/edit#slide=id.p)) or [Miro](https://miro.com) or whatever you like. Pointing to other websites that you like is also a useful approach.

We'll want to distinguish what's desired from

[2021-09-30 20:53] khanspers commented on #17
Both of these (editing md file and list in repo) could be done by PR also. Presumably, if someone is comfortable making a PR to update the list of pathways with a community tag, they could also make a PR to update an md file.

Alternatively, both of these could be handled by Google forms. In the case of the list of tags, the form could simply ask for a list of additional WPIDs.

[2021-10-04 21:54] AlexanderPico commented on #17
Great point. Editing a simpe list and submitting a PR can all be done using simple GUI tools at GitHub. Should be fine for the handful of people that want to manage community lists.

[2021-10-13 19:05] AlexanderPico commented on #9
Adding @egonw per his interest in bioschemas, json-ld, seo, etc. Thanks for looking into this!

- current md example: https://raw.githubusercontent.com/wikipathways/wikipathways.github.io/main/_pathways/WP554.md
- search seo result: https://search.google.com/test/rich-results/result?id=jMIG3n-t1UyOBo1x-3YHpA
- dataset search result: https://datasetsearch.research.google.com/search?query=ACE%20inhi

[2021-10-23 18:42] AlexanderPico opened #18 "How to support permalinks and publishing"
While we don't necessarily have to support the viewing of _every_ revision of every pathway, we do need to support these cases:
 * legacy permalinks pointing to specific revisions
 * intentions to generate and publish new permalinks

Do these pathway page views require an interactive pathway widget (i.e., the availability of PVJSON-based SVGs on toolforge) or are static images sufficient?

[2021-10-23 18:55] AlexanderPico commented on #18
We are swapping our MySQL database and Mediawiki platform for Git and Jekyll. While Git can obviously handle the full revision history of each pathway, the Jekyll system can not maintain a processed MD file for _every_ revision of every pathway. It just can't scale to that degreee.

I would argue that we don't really need that, however.  Old revisions could be handled in a number of alternative wa

[2021-10-23 19:01] AlexanderPico commented on #18
Related to idea 3, @egonw shared this post about registering blog posts for DOIs using GitHub Actions: https://blog.front-matter.io/posts/registering-content-with-crossref-or-datacite. This could work for us too, right?

- User clicks on "Get publishable link" on a given pathway page
- This triggers a GitHub Action to register the page
- The user gets a DOI

[2021-10-25 18:29] khanspers commented on #18
For new permalinks, the GitHub actions approach seems the easiest from the user's perspective.

For legacy permalinks, the separate site with a smaller set of static htmls seems best, assuming our logs are reliable in terms of capturing all previously requested revisions.

This brings up another question about general viewing of previous revisions on the new site:
Since there won't be an md file f

[2021-10-26 21:09] khanspers opened #19 "Help/Documentation"
We should identify which part of the [current content ](https://www.wikipathways.org/index.php/Help:Contents) are useful and should be either 1) transferred to github site in some form 2) converted to reveal tutorials to be linked to from github site 3) already covered by other content (i.e. PathVisio etc).

The overall idea is to simplify and streamline the content, and to NOT create too many pag

[2021-10-27 01:25] khanspers commented on #19
Planning doc: https://docs.google.com/spreadsheets/d/1Ko9eLliQ5wbokioJyXTVfC9VtnPmoBYtyF38sX9ThDg/edit#gid=1551451845

[2021-10-31 23:15] AlexanderPico opened #20 "Badges"
Here are a few ways we can do badges on our new site. [Shields.io](https://shields.io/) supports the following cases where the content is sourced from:

- GitHub | Jenkins | CircleCI | Uptime | etc, e.g., build status, contributors, commits, etc
- Front Matter variables, e.g., last-edited timestamp that we write at the time of PR approval
- JSON, e.g., custom content that is updated asynchronously

[2021-10-31 23:26] AlexanderPico commented on #16
Ah, we can do this with JSON-driven badges. See #20.

[2021-11-01 00:19] AlexanderPico commented on #15
done!

[2021-11-01 00:19] #15 closed

[2021-11-01 00:25] #3 closed

[2021-11-01 23:49] khanspers commented on #19
Update: We will skip reveal and instead use Google Slides.
One idea is to create a Google Slides deck for each of the three main topics in the  [current content](https://www.wikipathways.org/index.php/Help:Contents) (roughly): Biologists and Chemists, Pathway Authors, Developers.

[2021-11-14 17:04] egonw commented on #20
* curation status
* number of citations to this pathway

[2021-11-18 00:09] AlexanderPico commented on #7
Notes from our tests during 11/17 meeting:

- When a PR is made, maintainers of the parent repo (us) automatically have write access to the forked repo while the PR is active (it's a checkbox option; checked by default). When canceled or merged, then the access is revoked.
- While a PR is active, all subsequent commits to that forked repo are automatically added to the PR.
- In order to avoid comp

[2021-11-18 00:11] AlexanderPico commented on #5
Latest features for new website:
- Gallery and list tabs on [community](https://new.wikipathways.org/communities/covid19.html), annotation, organism and browse pages.
- [Filterable table](https://new.wikipathways.org/pathways.html)
- [Faceted search](https://new.wikipathways.org/pathways_filters.html?org=Homo%20sapiens&com=COVID19)
- Lots of [badges, buttons and tools](https://new.wikipathways.org

[2021-11-19 16:56] egonw opened #21 "GH Action to update plain text file with all WP identifiers"
one of each line, for all pathways in the repo. Autogenerated each time the Markdown is created.

Use: downstream tools to provide information about the pathways, like the pathway curations tools.

[2021-11-21 22:16] #16 closed, assigned to AlexanderPico

[2021-11-21 22:17] #12 closed

[2021-11-21 22:18] AlexanderPico commented on #9
add image?

[2021-11-21 22:22] #14 closed

[2021-12-10 19:37] AlexanderPico opened #24 "Populating and updating GPML database"

[2021-12-10 19:42] AlexanderPico commented on #24
Three options:

1. Initialize database with recreation of the history of GPML changes. Make script to update GPMLs (nightly/weekly), potentially including Author and revision information.
2. Initialize database with recreation of the history of GPML changes. Make script to update GPMLs (nightly/weekly), without any other information.
3. Initialize database with the latest GPML (with no or minimal

[2021-12-13 23:22] ariutta commented on #24
The repo name we chose is https://www.github.com/wikipathways/wikipathways-database

[2021-12-15 05:46] ariutta commented on #24
Code to get AnalysisCollection pathways added or updated since yesterday:

[code]

[2021-12-16 00:54] AlexanderPico commented on #8
As folks come up with useful GitHub Actions, please consider creating templates for others to use. They are maintained here: https://github.com/wikipathways/.github/tree/main/workflow-templates.

[2021-12-16 00:54] AlexanderPico commented on #8
I configured this Labeler action to label incoming PRs based on the files changed (e.g., gpml, md) and where in the folder structure they are changed (e.g., root dir or a pathways dir). https://github.com/wikipathways/playground-database/blob/main/.github/workflows/label.yml.  The config file can be modified here: https://github.com/wikipathways/playground-database/blob/main/.github/labeler.yml. A

[2021-12-16 00:59] AlexanderPico commented on #8
GitHub Actions to produce MD, CSV, PNG, SVG, etc

- Can someone give a short intro about Github actions? Or useful links to get started?
- Categories of code: **marketplace** (standard reusable features, e.g. adding labels), **bash script** (simple script), **full programmatic solution** ([javascript](https://docs.github.com/en/actions/creating-actions/creating-a-javascript-action) or [docker with

[2021-12-16 23:34] AlexanderPico commented on #8
And Anders found this: https://github.com/marketplace/actions/setup-java-jdk
For setting up Java runners for GH Actions. No Docker required!

[2021-12-20 19:23] ariutta commented on #24
@mkutmon added the `.tsv` and `.info` files, e.g.:
https://github.com/wikipathways/wikipathways-database/tree/main/pathways/WP1

This means we have a GPML repo without history but with all analysis collection pathways (cleaned up GPMLs with ID and author info + .tsv structure data files).

Later, we'll want to edit this to exclude some of the current AnalysisCollection pathways, e.g., the pathways

[2021-12-21 03:19] ariutta commented on #24
Sample GH Action for running Java 8:
https://github.com/wikipathways/wikipathways-database/blob/main/.github/workflows/pathvisio.yml

Sample output from that action:
https://github.com/wikipathways/wikipathways-database/runs/4590309688?check_suite_focus=true

[2021-12-30 21:49] AlexanderPico opened #27 "New main page"
Design ideas and implementation for the main landing page for the new WikiPathways site

[2021-12-30 21:50] AlexanderPico commented on #27
From meeting notes on front page design ideas:

- Center six from https://www.ncbi.nlm.nih.gov/
- Search
- Browse: facet (default) and table (advanced)
- Download: link to data
- Learn: link to academy
- Link to communities
- Footer links
- Header links: +download

[2022-01-03 18:43] AlexanderPico commented on #27
Some "essentials" we should have consensus on before picking on details:

- **Layout**: top row of 2, bottom row of 4.  I think this is a good balance of content and clutter. It's also nicely responsive per screen size. If we are going to change this, we need to do it early.
- **Top row content**: intro (left) and stats (right).
- **Dynamic stats**: the stats were designed to be easily extracted a

[2022-01-04 19:35] khanspers commented on #27
The new main page is fantastic! A couple of comments after reviewing and reading previous comments:

- Layout: I vote to keep the current top row of 2, bottom row of 4.
- The Download link in the collapsible menu at the top goes to a missing page, should probably go to the same as the link in the footer,  https://data.wikipathways.org/current/.
- Minor: About the placement of footer, there is some

[2022-01-04 19:44] AlexanderPico commented on #27
Thanks for the feedback!

- Download link -- *fixed*
- Footer padding -- *fixed*

Saving color decisions for professional graphic designers. But if anyone has suggestions, feel free to try them out.

[2022-01-04 20:29] khanspers commented on #24
@ariutta : Related to your comment above about excluding pathways based on the spreadsheet, by filtering the spreadsheet on "Analysis Tagged" and "keep", one can get a list to exclude from AnalysisCollection directly, so more like this:
[code]

So only those NeedsWork and Stub pathways that are tagged with Analysis and labeled as delete/unclear are relevant. Other pathways in the spreadsheet are j

[2022-01-06 17:07] khanspers commented on #24
The spreadsheet was getting confusing,  so I have made a new tab with a smaller subset. **This set represents only the overlap between Analysis collection and Stub/Needs Work**. It **DOES NOT** include all pathways tagged as Stub/Needs Work.

The spreadsheet includes information on curation tasks, if it's a Homology pathway etc. Columns E-H contains my assessment of the status of the pathway and w

[2022-01-06 19:45] AlexanderPico commented on #24
Very helpful!  There were only 53 rows, so I was able to manually review each one. Everything has a "yes" or "no" answer now.

For cases where the answer is "no" I simply removed the "Analysis" tag in the current database as well (and updated column I to "no"). This way our "keep" list can simply be derived from the "Analysis" tag as we transition from the current site to the new one.

[2022-01-06 19:46] AlexanderPico commented on #24
@khanspers Do we also need a tab for the intersection of "homology" and "analysis" in order to remove some of those as well?

[2022-01-06 19:47] khanspers commented on #24
Yes, we need to do the same (or something similar) for homology. Was going to start on that next.

[2022-01-07 00:08] khanspers commented on #24
@AlexanderPico @ariutta : Thanks Alex for doing the final review of the spreadsheet!
Question: Should I also go ahead and untag the ones we have decided to remove at the current site? Or does that not matter going forward, once the new database has been populated once?

[2022-01-07 01:15] khanspers commented on #19
Proposed plan:
The front page Learn section has 4 links with topics that can each lead to dedicated content:

How to Contribute: Either a dedicated page OR linkout to Google slide deck
How to Curate: link to Academy (done)
How to Use: linkout to Google slide deck
How to Develop: linkout to Google slide deck

I will start drafts of these and will add links here as they become available. Open to any

[2022-01-07 19:58] AlexanderPico commented on #24
I did that already for all the ones I marked 'no.'  I think we should keep our tagging on the current site updated in this way so that we can simply use it directly to inform the "keep" set. This way our two sites will be in sync during the (potentially very long) period where we have both running at the same time.

[2022-01-13 16:21] danidi commented on #27
Hi,
it looks good, but I must admit I feel a bit lost when I first look at it. My first instinct is to look at the picture, but from there I can't access any of the data. The bullet points with pathways, diseases, etc. could link to pages where I find all these. These links are instead in the Browse section, so I'm wondering if there is a way to combine these two (having the counts as well as the

[2022-01-13 19:45] AlexanderPico commented on #27
Thanks for the feedback!  Some quick responses:

- the bullet points are now links. There isn't a specific link for 'diseases' yet, but maybe someone could add that in the future.
- Adding a "last updated" tag would be cool. I'm not sure how to do it.  Perhaps once we've figured out how to automate the updating of the figure, then it will be clearer how to add this tag.
- We could add icons to lin

[2022-01-13 20:23] AlexanderPico commented on #27
Here's an attempt at adding a "latest" pathway card and analysis logos...

![Screen Shot 2022-01-13 at 12 21 53 PM](https://user-images.githubusercontent.com/1418193/149403514-83ce9747-d732-4e07-9511-f062cee39b49.png)

[2022-01-13 23:40] khanspers commented on #27
Great updates! Regarding the comment of adding "last updated" info to the stats graph/area, we have the "updated" tag in the footer (generated from commits). Can we just reuse this and also add it to the stats area also?

Question: In the "Latest" block, where you thinking that the link to "New pathways" would go to a page similar to the current page? https://www.wikipathways.org/index.php/WikiPat

[2022-01-13 23:50] AlexanderPico commented on #27
- Oh, I thought they meant the last time the figure was updated, which is different from the last time the a database commit was made (i.e., the "updated" tag in the footer).  Depending on how the figure is actually updated in the future (yet to be determined), maybe it will be updated with each edit? Currently, I'm planning to manually update it monthly.
- You make the NewPathwayRelease page by h

[2022-01-14 00:41] AlexanderPico commented on #27
@khanspers that wasn't too hard! There are now "new-pathways" and "recent-pathways" pages that are dynamically updated and linked to from the main page.

One really cool thing about the new pages (in addition to the fact that you don't have to manually update them) is that we can easily pull out all the authors of these subsets, thus highlighting "Recent Contributors" for edits and new pathways.

[2022-01-14 01:12] khanspers commented on #27
Super cool! Thanks!

[2022-01-14 17:46] khanspers commented on #24
I added a sheet for Homology:
- This is based on the "getEveryCurationTag" method, so it includes all pathways tagged as Homology.
- The last two columns show the revision number for the tagged revision and the latest, to deduce which pathways have been updated since it was last tagged (19 of 152)
- I have not done any manual checking of these yet, since its not clear what we want to do with the i

[2022-01-14 18:55] khanspers opened #36 "What to do with homology converted content"
We have decided to NOT include homology converted content to start off.

Current ideas on how to deal with homology converted content (from meeting notes):
- Current content: Separate edited content from purely converted. Edited should “stay” in main branch; converted should be in a separate repo.
- On-demand tool idea:  Start species 	|  version | Target Species | format
- Have a repo of homology

[2022-01-14 22:36] AlexanderPico commented on #36
Excellent! I added a column to track decisions to "keep" using the Approved tag (like we did with the other sheet). I am making the tag changes to the pathways as I go.

Others can feel free to review and reverse these decisions, but at least it gets us to a place where we can start using the Approved tag to define the set we're maintaining in the new site.

[2022-01-17 08:43] Chris-Evelo commented on #36
What is the consequence of this for collaborators like Zahra, who works with homology converted content (cow) almost exclusively?

[2022-01-18 18:27] AlexanderPico commented on #36
They will have a regularly updated repo of homology converted content rather than stale, confused content mixed in with manually curated stuff.  If they have manually curated any cow pathways, then those should be kept in the curated repo.

@Chris-Evelo it's great that you know the folks using these. Do you know if they use the GMT or the website or webservices or ... ?  We can make sure to priori

[2022-01-18 22:03] AlexanderPico commented on #36
Here's the new homology repo with all the current content that is *only* homology mapped and not customized by curation:  https://github.com/wikipathways/wikipathways-homology

We should build upstream and downstream tools off of this database repo, just like we are doing for the main `wikipathways-database` repo. For example, future runs of the homology converter can dump GPML here. We can genera

[2022-01-19 10:35] Chris-Evelo commented on #36
Sounds good. I was afraid they would not be available at all.

Zahra visited us a while ago and she wrote this paper: https://doi.org/10.3389/fgene.2019.01370

She used the homology converted pathways and created a few new ones specifically related to the marbling process (which relates to fat present in muscles and affects meat quality). She was trained by and worked with Susan. She can use the e

[2022-01-24 22:32] AlexanderPico commented on #21
Here's the current version:
https://github.com/wikipathways/wikipathways-database/blob/main/wpid_keep_list.txt

It is generated by looking up the "Analysis" tag currently (see [script](https://github.com/wikipathways/wikipathways-database/blob/main/scripts/wpid_keep_list.R)), but should be generated by GitHub Action when pathways are added or removed.

Leave this ticket open until that autogenerat

[2022-01-24 22:33] AlexanderPico commented on #10
Here's a `communities` folder: https://github.com/wikipathways/wikipathways-database/tree/main/communities

TODO:
* organisms
* other special collections?

[2022-01-24 22:34] #5 closed

[2022-01-26 19:24] mkutmon opened #40 "Define strategy for bulk changes to many GPML files programmatically and how actions should deal with that"
There is a max of actions that can run at the same time so we should consider what to do in those situations

[2022-01-28 03:18] khanspers commented on #19
Front page has been updated:
- Added two buttons to Download: Download gene sets and Download images
- Added How to Analyze button under Analyze, linked to new page: https://new.wikipathways.org/analyze.html
- Added How to Publish button under Publish (no link yet)
- Changed Learn to Contribute
- Linked How to Contribute to new page: https://new.wikipathways.org/contribute.html

To-Do:
Update the

[2022-02-09 17:48] ariutta commented on #1
The [create_pathway_frontmatter.py script](https://github.com/wikipathways/wikipathways-database/blob/main/scripts/create_pathway_frontmatter.py) and the [create_pathway_frontmatter.yml GH Action](https://github.com/wikipathways/wikipathways-database/blob/main/.github/workflows/create_pathway_frontmatter.yml) partially address the current issue.

*Items remaining:*
- [x] Format dates not as a stri

[2022-03-04 23:13] AlexanderPico opened #47 "quotes in annotation values"
[code]

This example is from WP106.md. It looks like a stray double quote got in there and so your script put single quote around it. These are messing with the table parsing, however. See https://new.wikipathways.org/browse/table.html.

AFAIK, there should never be single or double quotes in Pathway Ontology terms (or other ontology terms). So, instead, could your script simply strip them out?

[2022-03-04 23:52] AlexanderPico commented on #1
More details on ideal annotation processing. If you recall, we had to dramatically prune the list of annotation pages on the Jekyll site. We settled on these top-level parent terms for each ontology: https://new.wikipathways.org/browse/annotations.html (click on each to get their IDs). For ontology based buttons to be useful on the site, however, we need to map from the provided identifiers to one

[2022-03-05 00:33] ariutta commented on #47
I think this should be doable with the csv lib.

[2022-03-05 00:55] ariutta commented on #1
Can we keep a list of the parent terms somewhere in the `annotations` directory?

[2022-03-05 01:37] AlexanderPico commented on #1
@ariutta  Sure! https://github.com/wikipathways/wikipathways-database/blob/main/annotations/top_parent_terms.tsv
Feel free to restructure the list however it's most useful. It should rarely change and it would be done manually in coordination with editing  annotation .md files in the Jekyll site.

[2022-03-05 01:45] AlexanderPico commented on #47
I found the offending line in the csv:

It looks like it's not a stray quote after all. It's indicating that the term name is not "alanine", but rather, "alanine, aspartate and glutamate metabolic pathway".

So, yup, that's a csv lib parsing issue.

We would want this line parsed into:

[code]

I confirmed that this value (with a comma and no quotes) works well with the Jekyll code and resolves th

[2022-03-05 20:02] AlexanderPico opened #48 "front page design"
brainstorm on modern landing pages:
 - https://discord.com/nitro
 - https://trello.com/
 - https://eonreality.com/
 - https://happyegg.com/
 - https://www.krissrealestate.com/
 - https://www.zume.com/
 - https://www.mailpoet.com/
 - https://emol.work/
   - full page header
   - text and buttons left; image right
   - scroll for cards or full width sections
 - general UI/UX design trends
    - fast

[2022-03-05 23:48] ariutta commented on #1
It appears current list of parents for diseases doesn't include a parent for hypertension `DOID:10763`. Do we want to add an entry like cardiovascular system disease `DOID:1287` or just not have a parent for hypertension?

[2022-03-06 00:28] ariutta commented on #1
Other than the issue with hypertension not having a parent, the current code should now be handling it close to correctly.

[2022-03-06 00:30] AlexanderPico commented on #48
![wp landing v3](https://user-images.githubusercontent.com/1418193/156940886-91037094-89e7-45f9-b882-125027b16d69.png)

[2022-03-07 08:25] Chris-Evelo commented on #1
I think we should not be the ones deciding whether hypertension has a parent or not. We should get the ontology tree from the ontology itself. Is that not what we do? (The direct parent is "artery disease DOID:10763" according to: https://disease-ontology.org/)

[2022-03-07 18:00] ariutta commented on #47
I think this is addressed now in this commit:
https://github.com/wikipathways/wikipathways-database/commit/288ce733e1607777c6ede0b290c4639382da3e29#diff-f3a0c6cf05b703b1241cd9c83a3c9efad10e6e84ce8f1246f0ffd25e1f2b8fcbL54

[2022-03-07 18:17] ariutta commented on #1
Yes, we're getting the parent from the ontology file. The issue is just whether to expand our list of tags in this file: https://new.wikipathways.org/browse/annotations.html

I'll take a look at the stats for how many are null.

[2022-03-07 21:06] #47 closed, assigned to ariutta

[2022-03-07 21:09] ariutta opened #62 "Parsing WPx-datanodes.tsv files"
These aren't always being serialized/parsed consistently. Examples:

WP5064-datanodes.tsv
[code]

WP5114-datanodes.tsv
[code]

WP5166-datanodes.tsv
[code]

~~This may be due to the change I made here for the parameters for parsing quoted fields:
https://github.com/wikipathways/wikipathways-database/commit/288ce733e1607777c6ede0b290c4639382da3e29#diff-f3a0c6cf05b703b1241cd9c83a3c9efad10e6e84ce8f124

[2022-03-07 23:19] AlexanderPico commented on #62
I identified 32 busted tsvs and removed them so the site is building again. You can find them here:
https://github.com/wikipathways/wikipathways.github.io/tree/main/bad%20md%20and%20tsv%20files

[2022-03-08 00:15] ariutta commented on #1
I identified the three parents not already [here](https://new.wikipathways.org/browse/annotations.html) that have the largest number of pathways:
1. cardiovascular system disease (DOID:1287) has 43
2. central nervous system disease (DOID:331) has 36
3. gonadal disease (DOID:2277) has 11

I propose we add DOID:1287 and DOID:331.

[2022-03-08 00:19] AlexanderPico commented on #1
Go for it! Just add md files for the top-level terms you want here: https://github.com/wikipathways/wikipathways.github.io/tree/main/_annotations

[2022-03-08 07:53] mkutmon commented on #62
- [ ] Fix order of data nodes
- [x] Fix comments with special characters

[2022-03-08 17:06] ariutta commented on #62
Tina, using a TSV/CSV library that handles escaping special characters might be the most reliable solution.

[2022-03-08 17:08] ariutta commented on #13
Related:
https://github.com/wikipathways/wikipathways-database/blob/0df9006d360f4234b2e5bc0c810f6bb8ae1bdf4c/scripts/create_pathway_frontmatter.py#L168

[2022-03-08 19:57] ariutta commented on #62
[This `quoting=csv.QUOTE_NONE` change](https://github.com/wikipathways/wikipathways-database/commit/b375e5bc51528d2d26a452024ac33bec834c1b3c) fixed the parsing for my script, but it doesn't fix the parsing for the jekyll site.

Let's remove `quoting=csv.QUOTE_NONE` when you update the serialization of the datanode TSVs.

[2022-03-08 23:05] ariutta commented on #62
I temporarily disabled the copying of datanode TSV files over to the jekyll site:
https://github.com/wikipathways/wikipathways-database/blob/7ae256201c2e6972d271e77145244de0e26fcc70/.github/workflows/on_gpml_change.yml#L226-L228

Once the TSV file serialization is working, we can re-enable that line.

[2022-03-09 19:53] AlexanderPico commented on #48
https://new.wikipathways.org/home2

[2022-03-09 20:12] AlexanderPico commented on #48
@khanspers Could you help me collect screenshots for the slideshows in the mockup? They should represent the main options or results of each section. They should all be 450x450px (or otherwise square at higher px count, e.g,. 934x934).

Let's add them to wikipathways.github.io/assets/img/slideshow with names like `browse-1.png`, `download-1.png` and `analyze-1.png`. Let's target between 3 and 6 pe

[2022-03-13 01:03] AlexanderPico commented on #48
Completed slideshows and initial draft of new home. Find old home at https://new.wikipathways.org/alt_home.html

[2022-03-14 18:48] ariutta commented on #40
TODO: what happens with the concurrency here?
https://github.com/wikipathways/wikipathways-database/blob/8918bc73d79c766d115b95491b44294bf9ef06db/.github/workflows/on_communities_change.yml#L11-L13

[2022-03-16 23:34] AlexanderPico commented on #48
Notes from Graphics Dept...
![newwikipathwaysorg](https://user-images.githubusercontent.com/1418193/158708421-ef8274c2-ff72-4ac9-8abd-0f1a8fc0f488.jpg)

[2022-03-17 22:55] khanspers commented on #48
@AlexanderPico : Looks like you did this already, sorry. It fell off my radar. Is there anything else needed right now for this?

[2022-03-17 22:56] khanspers commented on #19
FAQ has been added here: https://github.com/wikipathways/wikipathways-help/discussions

[2022-03-17 23:16] khanspers commented on #19
What we have so far:
How to contribute: https://new.wikipathways.org/contribute.html (linked to from Create on front page)
Analyze: https://new.wikipathways.org/analyze.html (linked to from Analyze on front page)
FAQ: https://github.com/wikipathways/wikipathways-help/discussions (not linked to right now)

What we still need:
How to Publish
Intro tutorial

Unclear:
Do we still need this page: https

[2022-03-18 00:46] AlexanderPico commented on #48
No worries, @khanspers, you have your hands full with help and other doc pages!  The new front page is done, as far as I can tell. If you have any feedback for improvements, please let me know.

[2022-03-18 10:50] Chris-Evelo commented on #19
I would think: "yes we need that". While it is good to link to a more specific help page for every activity. People might still want o study the whole thing starting with "help". For that same reason, it is also to link to a page describing tutorials from that help page.

[2022-03-18 18:45] khanspers commented on #19
I updated the [Help page](https://new.wikipathways.org/help.html). If there are specific things that should be covered on this page, please list them in this issue. Keep in mind that we are trying to link out to existing content or other pages as mush as possible, to keep the main Help page short and concise.

[2022-03-19 18:50] AlexanderPico commented on #19
Agreed. How about these sections (each can be brief outlines, like the current ones, and link out for details):
* Navigate - how to use the web site (e.g., what you can search for, different ways to browse, url patterns, etc)
* Create - _already started_
* Curate - the types of things we check as curators; contact info to join curation roster
* Code - we should have a Contribute.md on wp-dev repo

[2022-03-19 18:52] AlexanderPico commented on #19
_Pro-tip_. If you wrap each section in a `<div id="analyze">...</div>` then we can link with anchors like https://new.wikipathways.org/help.html#analyze

[2022-03-24 20:36] khanspers commented on #19
The FAQ is done for now: https://github.com/wikipathways/wikipathways-help/discussions
To-Do for the remaining [items](https://docs.google.com/spreadsheets/d/1Ko9eLliQ5wbokioJyXTVfC9VtnPmoBYtyF38sX9ThDg/edit?usp=sharing):
- Option 1: Add remaining FAQ topics now, with the answers for how it currently works on the wiki
- Option 2: Add remaining items later, when we know how it will work on the new

[2022-03-30 19:08] mkutmon commented on #62
@ariutta can you check if the new data nodes comment format solves the issue?
I still need to fix the ordering but wanted to fix the comments problem first.

[2022-04-13 18:47] danidi opened #53 "Maintbot as co-author?"
On the new page, the maintbot is listed as co-author. This is different to previous behaviour, where it was not a co-author, but changes showed up only in the history. Is this change wanted?

[2022-04-15 22:19] khanspers opened #54 "Search appears to be broken"
Search terms that worked previously, like WP554 and ACE, don't produce any results. The popup simply says "No results".

[2022-04-15 22:25] AlexanderPico commented on #54
Yep. Google isn't indexing anything from the new site at this time. Something got messed up... I think I have to register a new domain in the dashboard or something.

It's on my to-do list.

[2022-04-20 23:39] #10 closed

[2022-04-20 23:40] #9 closed

[2022-04-20 23:40] #20 closed, assigned to ariutta, AlexanderPico, mkutmon

[2022-04-20 23:41] #48 closed, assigned to AlexanderPico

[2022-04-20 23:43] #1 closed

[2022-04-20 23:43] #8 closed

[2022-04-20 23:43] #24 closed, assigned to ariutta, AlexanderPico, mkutmon

[2022-04-20 23:44] #27 closed, assigned to AlexanderPico

[2022-04-20 23:47] AlexanderPico commented on #54
Ok. I think it's setup properly again. Google CSE is showing 1.2k valid indexed pages. The search isn't working yet, but I think it's just a matter of waiting a day or two...

[2022-04-23 01:36] AlexanderPico commented on #54
Found typo deep in config for CSE. Fixed!

[2022-04-23 01:36] #54 closed, assigned to AlexanderPico

[2022-04-23 01:59] AlexanderPico commented on #17
@ariutta When I added WP554 to the COVID19.txt community file, the actions ran successfully, but...

instead of inserting "COVID19" into the frontmatter of WP554.md, the action inserted "TEST"

I'm guessing you have some debug/testing code still in place in the action?

[2022-04-25 19:49] #17 closed, assigned to khanspers

[2022-04-25 20:19] ariutta commented on #17
@AlexanderPico, this appears to be working correctly now. I changed two things:
1. handle case where all communities are removed from a pathway
2. make sure to get latest data from the `wikipathways-database` repo.

For 2. above, I'm not sure why, but it appears the `copy-to-site-repo` job in the GH workflow wasn't correctly getting the latest commit from the previous `frontmatter` job. I fixed it

[2022-04-25 20:32] ariutta opened #56 "Sort entries in communities files"
For the communities lists like [this](https://github.com/wikipathways/wikipathways-database/blob/main/communities/COVID19.txt), we could add a GH workflow job to [on_communities_change.yml](https://github.com/wikipathways/wikipathways-database/blob/main/.github/workflows/on_communities_change.yml) to sort the entries.

[2022-04-25 20:41] ariutta opened #57 "data.wikipathways.org"
Our data.wikipathways.org site is currently on WMCS. We can keep running it there, and it's working fine for now, but if we keep it there, someone needs to be responsible for maintaining the infra, e.g., updating the OS and making sure the disk space doesn't all get filled up. If we don't want to do that, we can move it to either Toolforge or GH.

Toolforge wouldn't require any OS updates, but it

[2022-04-27 23:54] AlexanderPico opened #58 "Insert NDEx urls into frontmatter"
Is the mapping between WPIDs and NDExIDs obtainable? If so, could we store that table in the repo and have a GitHub action that updated an "NDEX-url" field in the frontmatter each time the file was updated?

If we had the NDEx-url in the frontmatter, then I could easily provide a link on the pathway page to NDEx, as well as links to open the pathway in Cytoscape or even run R/Python code with the

[2022-04-27 23:57] ariutta commented on #58
It's possible to get that data, but it takes awhile. I've done it before. The tricky part might be setting up a system for getting an NDEx URL when creating a new pathway.

[2022-04-28 17:02] AlexanderPico commented on #58
Ok. If the source info is not easily accessible, then let's skip this for now. I can talk to NDEx team about providing this info, e.g., as an inventory report or something.

[2022-04-28 17:27] AlexanderPico commented on #58
Via NDEx API:

1. List network UUIDs by collection. See "WikiPathways Collection - Homo sapiens"
[code]

2. Get network names per UUID as batch POST query
[code]
3. Parse network summaries: `networkAttributes:wikipathwaysID`

[2022-04-28 20:17] AlexanderPico opened #59 "PNG and SVG download per pathway"
Do we want to support the download of individual PNG and SVG images per pathway page? We have the data.wikipathways.org site for monthly downloads. But download options per pathway page are different.

1. We could have SVG and PNG files in the `wikipathways-database/pathways/WPID/` folders. But would this unnecessarily bloat the repo that may be forked by all contributors?
2. We could have a separ

[2022-04-28 20:19] AlexanderPico commented on #59
There are download options on the new site per pathway page already, but they don't work. They are just placeholders until we figure this out.

[2022-04-28 20:45] khanspers commented on #59
I think it would be nice to support direct download options on each page. Option 2 seems to make the most sense. In that case, an update to a gpml in `wikipathways-database/pathways/WPID/` would have to trigger an update of the relevant svg/png etc in `wikipathways-images`, right?

[2022-04-28 21:38] ariutta commented on #59
I like idea 2. But if one of the download formats is GMT, we might want to pick a different name than `wikipathways-images`.

[2022-04-28 21:41] ariutta commented on #59
@khanspers, the triggering of the update would be pretty straightforward. We would create the PNG and SVG images [like this](https://github.com/wikipathways/wikipathways-database/blob/c0ecd0962b0d84d267090b91f04c6e8264a73a91/.github/workflows/on_gpml_change.yml#L205), but instead of adding them to `wikipathways-database`, we'd add them to a different repo, somewhat similar to how we do it for the

[2022-04-28 23:29] AlexanderPico commented on #59
Cool. We wouldn't have a GMT download for a single pathway, but indeed we might want more than just images in this accessory repo. So, how about `wikipathways-assets` for all accessory files downstream of the GPML that aren't needed in the wp-db repo.

- PVJSON
- SVG
- PNG (converted from SVG)

Maybe the info.json file too? And the .md and .tsv files should really only be in the website repo. Thes

[2022-04-28 23:37] AlexanderPico commented on #59
https://www.npmjs.com/package/convert-svg-to-png

[2022-04-28 23:58] AlexanderPico commented on #59
Attempted to update yml to generate future json and svg file in new `wikipathways-downstream` repo: https://github.com/wikipathways/wikipathways-database/blob/main/.github/workflows/on_gpml_change.yml#L276

[2022-04-29 05:58] andrawaag commented on #59
Would it be possible to create direct download links, instead of (or next to) a separate repo? With my experiments on Wikimedia commons where I upload timestamped versions of pathways, my current workflow is to download either the SVG or PNG version to my desktop. From there I upload them to commons and manually add the metadata.

Ideal would be if it would be possible to either add PNG or SVG to

[2022-04-29 18:53] AlexanderPico commented on #59
@andrawaag Yes! With GH Pages set on the repo, URLs like this work:
https://new.wikipathways.org/wikipathways-assets/pathways/WP554/WP554.svg
or
https://assets.wikipathways.org/pathways/WP554/WP554.svg

[2022-04-30 19:40] AlexanderPico opened #60 "Setup new links to community portals"
See https://github.com/wikipathways/new-cptac-subdomain/blob/main/README.md

We should do this when we want portal subdomain links to go to the pages on the new site.

[2022-04-30 22:48] AlexanderPico commented on #58
Works! https://github.com/wikipathways/wikipathways-database/blob/main/.github/workflows/on_ndex_change.yml

[2022-04-30 22:48] #58 closed, assigned to ariutta, AlexanderPico

[2022-05-01 01:18] AlexanderPico commented on #59
@ariutta I've got most of the updated json-svg job working, but have an error within the gpmlconverter script: `line 246: gpml2pvjson: command not found`

See error in this run:
https://github.com/wikipathways/wikipathways-database/runs/6243515696?check_suite_focus=true

The NPM install appears fine, but apparently this job can't access it for some reason. I'm stumped.

[2022-05-01 01:48] AlexanderPico opened #61 "frontmatter job in on_gpml_change is not using latest GPML"
To reproduce:
1. Edit title in WP1.gpml
2. Commit/push to trigger workflow

Obs:
 * the info.json is updated to match the GPML
 * the .md file is updated to match the **_prior commit_** and does not match the latest GPML or info.json.

Do we need to insert another "pull hack" here: https://github.com/wikipathways/wikipathways-database/blob/main/.github/workflows/on_gpml_change.yml#L176? Like we di

[2022-05-01 18:18] AlexanderPico commented on #61
I think I found others with the same issue! Will try these solutions.
https://github.com/actions/checkout/issues/439

[2022-05-01 18:42] AlexanderPico commented on #61
Oddly enough, I think this fixed the issue. We had to specify `fetch-depth` *and* `ref` like so:

[code]

In all subsequent checkouts within a workflow (when following a commit job). This forces the job to pull the latest rather than the same revision that was pulled at the start of the workflow.

I've updated all our ymls to use this pattern and I removed the `cd/pull/cd` hack. And my test edit o

[2022-05-01 18:42] #61 closed, assigned to ariutta, AlexanderPico, mkutmon

[2022-05-01 18:43] AlexanderPico opened #63 "old code?"
@ariutta Can we delete these `Install SSH Client` jobs? They appear to be for some prior testing.
https://github.com/wikipathways/wikipathways-database/blob/main/.github/workflows/on_gpml_change.yml#L316

[2022-05-03 23:29] AlexanderPico commented on #59
The issue is that I'm installing npm in the `scripts/generate-svgs` subdir, but I'm running the script from the parent dir. I'm doing this because the paths in the GH Action VM are very confusing, but this is not going to work...  Need to figure out paths, I guess.

[2022-05-04 01:40] AlexanderPico commented on #59
Defined ${{ github.workspace }} paths at $AS_PATH and $DB_PATH. That appears to have worked, but now I'm getting this odd error: `getopt: command not found`. But getopt is part of util-linux which is already installed and up-to-date. Sigh...

https://github.com/wikipathways/wikipathways-database/runs/6283056934?check_suite_focus=true

[2022-05-05 23:50] AlexanderPico commented on #59
Ok. Fixed the $PATH variable (my mistake) and now the basic functions are found and working. Now I just have to figure out how to get a deploy key for the assets repo...

fatal: Could not read from remote repository.
Please make sure you have the correct access rights
and the repository exists.

[2022-05-06 01:31] AlexanderPico commented on #59
Added `ACTIONS_ASSETS_KEY` to wp-db repo and `wikipathways-database assets key` to wp-assets repo, but that didn't work. Checkout even failed! Restoring `ACTIONS_DEPLOY_KEY` restored successful checkout, but the commit and push fail with the same error as above.

[2022-05-09 18:54] #63 closed, assigned to ariutta

[2022-05-09 18:56] AlexanderPico commented on #59
Ah, I think I need that weird `Install SSH Client` step! It has an odd comment that made me think it was temp code, but it makes sense that it's needed for ssh-based checkout and push. Will test and then updated the comment if needed.

[2022-05-09 21:38] AlexanderPico commented on #59
It works!  Key steps to dealing with a secondary repo within a job:

- Generate a new key pair on your local machine, give it a unique name to not confuse with other keys
- Add public key as a deploy key to secondary repo (the one being pushed to), and check Allow Write box
- Add private key as a secret (including comment lines) to primary repo (the one hosting the action)
- Add `Install SSH Clien

[2022-05-09 22:51] AlexanderPico commented on #59
Reopening for:

- [x] Testing generated SVGs (e.g., linkouts and metabolite-uris??)
- [x] Impl svg-to-png. Try https://www.npmjs.com/package/convert-svg-to-png

[2022-05-11 23:51] ariutta opened #65 "BridgeDb identifier mapping files"
In the biweekly call today, we discussed creating a JSON file per pathway with identifier mappings. For example, we could have a JSON file WP1-identifiers.json in the [WP1 folder](https://github.com/wikipathways/wikipathways-assets/tree/main/pathways/WP1) of wikipathways-assets. The identifiers could map from the original used in the pathway to a selected set of mappings like Ensembl, Entrez Gene,

[2022-05-12 18:50] AlexanderPico commented on #65
@hbasaric Helena, I believe you already have this working in your GH Action for homology mapping. The initial ID unification step that you do (prior to homology mapping) would be useful for lots of use case. Maybe you could split your current workflow and have a separate action that just performs the ID unification and saves it to the wp-database repo as a JSON or TSV file.

Then your homology map

[2022-05-12 20:03] AlexanderPico commented on #59
Update: ID unification on gene product datanodes is not working in pvjson generation, thus SVG linkouts are failing.  See #65 for possible solution.

[2022-05-13 17:48] AlexanderPico commented on #59
Fixed linkouts with suggestion from @ariutta to insert quotes into `wd query` cmd.

[2022-05-14 21:06] AlexanderPico commented on #59
Large and thumb png from svg working too.  Populated wp-assets repo and set on_gpml_change.yml to update all future changes.

[2022-05-14 21:06] #59 closed, assigned to ariutta, AlexanderPico, mkutmon

[2022-05-14 21:16] AlexanderPico commented on #59
This should be the official url pattern:
https://assets.wikipathways.org/pathways/WP554/WP554.svg

But this will also work:
https://new.wikipathways.org/wikipathways-assets/pathways/WP554/WP554.svg

[2022-05-15 00:26] AlexanderPico commented on #62
@ariutta @mkutmon What's the status of this issue? Looks like we are not copying over datanode.tsv files to the jekyll site until this is resolved.

[2022-05-17 00:35] ariutta commented on #62
I guess we'd need to give it a try -- just copy some over and see whether Jekyll correctly parses them. I haven't checked lately, but Tina's change may have worked.

[2022-05-17 01:05] ariutta commented on #62
@AlexanderPico, @mkutmon, I re-enabled datanodes.tsv:
https://github.com/wikipathways/wikipathways-database/blob/834874d96bc2b4d8054da070cbe0e1d7480d8266/.github/workflows/on_gpml_change.yml#L350

We'll have to keep on eye one whether Jekyll can parse the files with the updated formatting.

[2022-05-17 19:13] AlexanderPico commented on #62
I tested the following changes by editing the GPML files in wp-db and seeing the results on the new site:
 * node label (WP1) -> OK
 * node comment with special chars (WP1763) -> Failed ([job report](https://github.com/wikipathways/wikipathways.github.io/runs/6476204694?check_suite_focus=true))

So, looks like @mkutmon's checklist is to active. I'll comment those lines out again.

[2022-05-17 21:56] AlexanderPico commented on #62
Replacing all double quotes with single quotes resolves the TSV parsing issues for all the "bad" datanode.tsv cases, e.g., WP1763:
[code]

[2022-05-17 23:56] AlexanderPico commented on #62
Made a new release of meta-data-action jar attempting to fix double quotes on comments:
https://github.com/wikipathways/meta-data-action/releases/tag/v0.0.2

[2022-05-18 00:05] AlexanderPico commented on #62
It worked! Now, I'm uncommenting the cp datanodes.tsv line as it should work for all the files previously marked "bad."

[2022-05-18 00:05] #62 closed, assigned to ariutta, mkutmon

[2022-05-18 01:43] AlexanderPico opened #67 "Concurrency for on_gpml_change"
https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency

We currently specify:
[code]
which means that if a subsequent action is trigger, then the current one will be canceled.

I don't think we want this behavior, however. For example, if WP1 is changed, then the action starts. But if WP2 is changed within the ~5min that it takes to complete, then the WP1

[2022-05-18 01:50] AlexanderPico commented on #67
By contrast, the other workflows (including GH Page builds) _should_ cancel when overlapping, since the latest trigger will encompass all prior changes as well.

[2022-05-18 02:18] AlexanderPico commented on #67
Tested fix with two consecutive pushes on two different GPMLS and the first instance of the workflow completed while the second was pending. Nice!

![Screen Shot 2022-05-17 at 7 17 49 PM](https://user-images.githubusercontent.com/1418193/168943648-20bb9e98-1d8e-4fa4-9ffc-f5b20fc131c4.png)

[2022-05-18 02:18] #67 closed, assigned to ariutta, AlexanderPico, mkutmon

[2022-05-18 17:39] AlexanderPico commented on #65
Also, the unification step should first read the previous unification file and use it as a cache so only new nodes have to be queried. This would save ~10min of GH Action time for every minor edit to an existing GPML.

[2022-05-18 18:00] AlexanderPico opened #68 "Deposit images with structured data into Wikimedia Commons"
from @andrawaag

https://commons.wikimedia.org/wiki/File:CalciumRegulationInCardiacCell_WP536.png and https://www.wikidata.org/wiki/Q30230893
https://commons.wikimedia.org/wiki/File:NicotineChromaffinCells_WP1603.png and https://www.wikidata.org/wiki/Q29883406
Maybe you knew this already, but icymi I thought about dropping it here
commons.wikimedia.orgcommons.wikimedia.org
[File:CalciumRegulationI

[2022-05-19 00:11] AlexanderPico opened #69 "Update status badge in PR processing"
This [little bit of json](https://github.com/wikipathways/wikipathways-database/blob/main/pathways/WP554/WP554-status.json) defines a custom badge (see https://new.wikipathways.org/pathways/WP554.html).

We could use this to set a message, e.g., "new edit under review" when a PR is initially received. We could then remove it by simply deleting the file when the PR is accepted. This could all be do

[2022-05-19 00:33] AlexanderPico commented on #21
added to on_gpml_change:yml
https://github.com/wikipathways/wikipathways-database/blob/main/.github/workflows/on_gpml_change.yml#L62

[2022-05-19 00:33] #21 closed, assigned to AlexanderPico

[2022-05-19 00:52] AlexanderPico commented on #21
The updated list is accessible via this link:
https://raw.githubusercontent.com/wikipathways/wikipathways-database/main/wpid_list.txt

[2022-05-31 20:50] khanspers commented on #19
Here's the current status and timeline. Also, it would be great to have others review these pages for content, clarity etc.

1. Help page (https://new.wikipathways.org/help.html)

- **Navigate - To-Do: Add content for searching (e.g., what you can search for, different ways to browse, url patterns, etc). Timeline: Draft by June 10**.
- Create - Done. New link added to PathVisio YouTube channel and

[2022-06-15 18:55] khanspers opened #72 "Limit number of pathways shown by default in Community page Gallery"
It would be nice if the community page galleries for the communities with [many pathways](https://new.wikipathways.org/communities/cptac.html) didn't show all of them in the gallery by default. Similar to how on the [filter page](https://new.wikipathways.org/browse/filters.html) there is a "show more" button. I see the code for the button, but don't know what changes to make to have it not show al

[2022-06-15 21:17] khanspers opened #73 "Use community "display name" instead of tag name on Filters page"
The Communities filter uses tag name in the list of check boxes for filtering, which is not ideal since some of the tag names are not easily human readable. Should use display-name instead.

[2022-06-15 21:18] khanspers commented on #73
Updated it to use com.display-name instead. See https://github.com/wikipathways/wikipathways.github.io/commit/2f32df8f780e60bf0bf6e4562a7722d0fdabb4e8.

[2022-06-15 21:18] #73 closed, assigned to khanspers

[2022-06-15 22:42] khanspers opened #74 "Add remaining community pages"
Some portals are still missing and need to be added.

- Disease: 80 pathways, overlaps with Rare Disease and COVID-19. Do we really need this?
- exRNA: 75 pathways
- Micronutrients: 9 pathways
- Nanomaterials: 6 pathways
- Plant: 148 pathways.
- Renal Genomics: 27 pathways, some in multiple species.
- Reactome

[2022-06-15 22:45] khanspers opened #75 "Add developer documentation describing how to make edits to community pages"
Documentation to describe how to maintain and update existing Community pages:
- Edit the list of pathways
- Update community page sections
- Update logo

[2022-06-16 18:25] khanspers commented on #74
Micronutrients done: https://new.wikipathways.org/communities/micronutrients.html

[2022-06-24 17:54] khanspers commented on #74
All portal pages that were listed in meeting notes have now been moved over. Tagging responsible admins here.

Daphnia: https://new.wikipathways.org/communities/daphnia.html (no pathways yet because its human only -> remove?) @marvinm2

Diseases: https://new.wikipathways.org/communities/diseases.html @DeniseSl22

Nanomaterials: https://new.wikipathways.org/communities/nanomaterials.html @egonw

Re

[2022-06-25 13:34] egonw commented on #74
https://www.wikipathways.org/index.php/Pathway:WP5077 and https://www.wikipathways.org/index.php/Pathway:WP5237 are Daphnia pathways.

I see these two are added, but the point is that since we only have Human pathways right now, only Human Communities make sense right now?

[2022-06-29 00:47] khanspers commented on #75
First draft here: https://new.wikipathways.org/help_communities.html

[2022-06-29 01:17] khanspers commented on #75
README here: https://github.com/wikipathways/wikipathways-database/blob/main/communities/README.md

[2022-07-05 22:52] #75 closed, assigned to khanspers

[2022-07-05 22:54] khanspers commented on #74
Actually, all approved pathways are on the new site, but the two Daphnia pathways are still under construction. If you can complete them, I can add them to the wikipathways-database repo. @egonw

[2022-07-05 23:09] AlexanderPico commented on #74
Yes, all species are in the new site, but only approved pathways as of ~Feb 22 (when I last manually sync'd). We are indeed missing  pathways newly approved since Feb.

[2022-07-06 09:18] egonw commented on #74
Ah, right. I'll fix them up asap.

[2022-07-14 21:39] #74 closed, assigned to khanspers

[2022-07-15 06:18] egonw commented on #74
@khanspers, I discussed the (Rara) Disease portal situation with Freddie and Denise. Conclusion was that we like to keep both. Freddie will take care of the content; I'll help here with technical aspects, if needed.

[2022-07-15 21:37] khanspers commented on #19
Update: Navigate and Publish have been updated. The only thing missing from the original list is **NDEx-minted DOIs for specific versions** which I don't know how to do.

[2022-07-15 22:12] AlexanderPico commented on #19
Currently, the only way is to email Dexter. But they are planning to add a button at some point.

[2022-07-15 22:46] khanspers commented on #19
Should I add a sentence or two describing it, with Dexter’s contact?

Kristina

On Fri, Jul 15, 2022 at 3:12 PM Alexander Pico ***@***.***>
wrote:

[2022-07-15 23:43] AlexanderPico opened #78 "metadata task is broken"
[echoed from Slack]
The metadata task in our GitHub Actions is broken. The last time it ran successfully was [9 June ](https://github.com/wikipathways/wikipathways-database/runs/6808243188?check_suite_focus=true)and it hasn’t been attempted again (with an actual GPML change) until today. The step that is failing is git pull [here](https://github.com/wikipathways/wikipathways-database/blob/main/.gi

[2022-07-15 23:45] AlexanderPico commented on #19
Nope. Just ignore for now.

[2022-07-16 08:51] larsgw commented on #78
I seem to recall GitHub deprecating some form of non-SSH authentication but I can't find the source anymore. The metadata job does not have an ssh-agent at all at the moment, so that might be the problem.

[2022-07-19 06:52] egonw commented on #78
The problem seems to be that the the `cache` step was removing the git metadata, making the pull/push not see any git info and therefore fail to push. Reordering the caching and the checking out of git seems to solve it. See Slack for more detail and my patches from last night.

[2022-07-19 17:20] #78 closed, assigned to hbasaric

[2022-07-27 19:00] AlexanderPico opened #80 "Docs for devs: use Pages from this repo"

[2022-08-09 18:06] #19 closed, assigned to khanspers

[2022-08-09 18:16] khanspers opened #84 "Weekly updating display of "Community Editor""
Assuming we want to have some version of the "Curator of the Week" display on the new site, here are some ideas:

1. In the Curate section of Help, add a right-aligned "Community Editor of the Week" div with photo and name/affiliation. This would require weekly manual updates of the page.
2. Link to the weekly [curation reports](https://github.com/wikipathways/wikipathways-development/discussions/

[2022-08-09 18:28] AlexanderPico commented on #84
My initial reaction was that this rotation needs to be automated, maybe using a gallery widget. But, maybe the manual aspect is a plus here. It would essentially be like having the Community Editor of the Week **_sign in_** at the beginning of their week. With our PR approach to curation, we will need to break our habit of saving all the work until Friday (or Saturday) and instead try to keep up w

[2022-08-09 18:32] AlexanderPico commented on #84
Let's start by making a "community_editors" folder in the github.io repo and adding a few photos and an `active.md` file that contains the name of an editor and photo filename.  Then we can modify the Help page to pull from there and other tasks can potentially pull from there as well.

[2022-08-09 21:04] khanspers commented on #84
Good plan. I've added the folder, photos and md file.

[2022-09-06 23:11] #36 closed, assigned to AlexanderPico, khanspers, mkutmon

[2022-09-14 19:15] AlexanderPico opened #90 "Update our schema-jsonld to use new bioschema terms"
Currently, our new jekyll sites encode a list of `keywords` representing gene products, chemicals, diseases and pathway names found in a given pathway.  Schemas now supports Gene, Protein, and other Biochem types, e.g., https://schema.org/Protein.

Egon, can you draft an example of how you think we should encoded one pathway? Then Alex and Tina can update the scripts that generate the Jekyll Front

[2022-09-25 10:49] egonw commented on #90
I tried the idea of doing this with the header YAML, but that seems a no go. Keywords cannot be of type Gene. This is one of the options I tried:

![image](https://user-images.githubusercontent.com/26721/192139555-ee9ea41e-9618-4644-bec3-fb3622ae4c2a.png)

So, this is currently a dead end. That does not mean we cannot make the metabolites/genes/etc Bioschemas, but just not this way.

[2022-09-26 17:54] AlexanderPico commented on #90
Thanks for testing this out. I'll leave this open while we try other ways.

[2022-10-14 21:21] AlexanderPico opened #93 "Update meta-data-action jar for image seo"
This diff shows the new lines needed in our frontmatter md files:
https://github.com/wikipathways/wikipathways.github.io/commit/8737bf7ca7a23a1e6488ed6affe13e2c0f38b283

Basically, new `seo/type`, `image` and `schema-jsonld/image` tags. We can get rid of the old `seo` tag.